{% extends "core/base.twig" %}

{% block cp_content %}

    <h1 class="page-header">Dashboard</h1>

    {% if Page.NewerVersion %}
        <div class="alert alert-danger" role="alert">
            You've recently upgraded from Jewel CMS {{ Page.CmsVersion }} to {{ Page.NewerVersion }}.
            <br>
            <strong>To complete the upgrade, we need to run a quick database update.</strong>
            <br>
            <a href="/cp/db_update.php">Start the update here</a>.
        </div>
    {% endif %}

    {% if Page.ArticleCount == 1 %}
        {% set ArticleDesc = 'article' %}
    {% else %}
        {% set ArticleDesc = 'articles' %}
    {% endif %}
    {% if Page.UserCount == 1 %}
        {% set UserDesc = 'user' %}
    {% else %}
        {% set UserDesc = 'users' %}
    {% endif %}
    {% if Page.SiteFileCount == 1 %}
        {% set SiteFileDesc = 'file' %}
    {% else %}
        {% set SiteFileDesc = 'files' %}
    {% endif %}

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart"></i> Overview</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2">
                            <span class="lead">{{ Page.ArticleCount }}</span>
                        </div>
                        <div class="col-md-2">
                            <span style="vertical-align: middle;">
                            {% if Auth.CanWriteContent %}
                                <a href="{{ cpLink('articles') }}">{{ ArticleDesc }}</a>
                            {% else %}
                                {{ ArticleDesc }}
                            {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2">
                            <span class="lead">{{ Page.UserCount }}</span>
                        </div>
                        <div class="col-md-2">
                            <span style="vertical-align: middle;">
                            {% if Auth.IsAdmin %}
                                <a href="{{ cpLink('users', {'action': 'showall'}) }}">{{ UserDesc }}</a>
                            {% else %}
                                {{ ArticleDesc }}
                            {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2">
                            <span class="lead">{{ Page.SiteFileCount }}</span>
                        </div>
                        <div class="col-md-2">
                            <span style="vertical-align: middle;">
                                {{ SiteFileDesc }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-wrench"></i> Tools</h2>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ cmsDomainFull()~'/'~'feed/main.xml' }}" target="_blank">Feed</a> <i class="fa fa-external-link"></i></li>
                        <li><a href="{{ cmsDomainFull()~'/'~'sitemap/index.xml' }}" target="_blank">Sitemap</a> <i class="fa fa-external-link"></i></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-user"></i> My Profile</h2>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ cpLink('edit_profile') }}">Edit Profile</a></li>
                        <li><a href="{{ cpLink('change_password') }}">Change Password</a></li>
                        <li><a href="{{ cpLink('manage_avatars') }}">Manage Avatars</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <p>
        <a href="http://www.jewelcms.com/" target="_blank">Jewel CMS {{ Page.CmsVersion }}</a> |
        <a href="https://github.com/benbarden/jewelcms" title="Github" target="_blank">Github</a> |
        Licence: <a href="http://www.gnu.org/licenses/gpl.html" target="_blank" title="GNU General Public Licence v3">GPL3</a> |
        Copyright &copy; 2015 <a href="http://www.benbarden.com/" target="_blank">Ben Barden</a> |
        <strong>Credits:</strong>
        <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> |
        <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> |
        <a href="http://www.doctrine-project.org/" target="_blank">Doctrine</a> |
        <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>
    </p>

{% endblock cp_content %}