{% extends "core/base.twig" %}

{% block cp_content %}

<h1 class="page-header">Articles</h1>

    {% if CP.Msg %}
        {% if CP.Msg == 'addsuccess' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Article added.
            </div>
        {% elseif CP.Msg == 'editsuccess' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Article updated.
            </div>
        {% elseif CP.Msg == 'deletesuccess' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Article deleted.
            </div>
        {% endif %}
    {% endif %}

    <button onclick="top.location.href = '/cp/article.php?action=create';" class="btn btn-primary btn-lg">+ New Article</button>

    <div style="clear: both; float: none;">&nbsp;</div>

    {% if Page.ArticleList %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-3">Title</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-2">Date</th>
                <th class="col-md-2">Options</th>
            </tr>
            </thead>
            <tbody>
                {% for Item in Page.ArticleList %}
                    <tr>
                        <th>{{ Item.getId }}</th>
                        <td>
                            {{ Item.getTitle }}
                            {% if Item.getPermalink %}
                            <br><small><a href="{{ Item.getPermalink }}" target="_blank" title="Opens in a new tab">{{ Item.getPermalink }}</a></small>
                            {% endif %}
                        </td>
                        <td>{{ Item.getStatus }}</td>
                        <td>{{ Item.getCreateDate.format('d M Y H:i') }}</td>
                        <td>
                            <a class="btn btn-default" href="{{ cpLink('article', {'action': 'edit', 'id': Item.getId}) }}" role="button">Edit</a>
                            <a class="btn btn-danger" href="{{ cpLink('article', {'action': 'delete', 'id': Item.getId}) }}" role="button">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock cp_content %}