{% extends "core/base.twig" %}

{% block cms_content %}
<div class="blog-post">
    <p class="blog-post-meta">
        by {{ Article.Author.Username }}
        | <a href="{{ Article.Permalink }}">Permalink</a>
        | {{ Article.Date }}
    </p>
    {{ Article.Body|raw }}
    {{ cmsBlock('comments.disqus') }}
</div>
{% endblock cms_content %}
